body{
    font-family: "helvetica";
    margin: 0;

}
    #wrapper{
        margin: auto;
        max-width: 1000px;
        
    }
        header{
            background:#860000;
        }
            h1{
            }
            header nav{
            }
                header nav ul{
                    -webkit-margin-before: 1em;
                    -webkit-margin-after: 1em;
                    -webkit-margin-start: 0px;
                    -webkit-margin-end: 0px;
                    -webkit-padding-start: 0px;
                    text-align: center;
                    margin: 0;
                }
                    header nav ul li{
                        display: inline-block;
                        padding: 1%;
                    }
                        header nav ul li a{
                            text-decoration: none;
                            color:#fff;
                            font-size: 1.7em;
                        }

                        header nav ul li a:hover{
                            text-decoration: underline;
                            
                            
                        }
        aside{
            background:rgba(134,0,0, 0.1);
            
            float: right;
        }
            aside ul{
                list-style-type: none;
                margin: 0;
                -webkit-padding-start: 0;
               
            }
                aside ul li{
                    padding: 5%;
                    
                }
                    aside ul li a{
                        text-decoration: none;
                    }
                    aside ul li a:hover{
                    }
        article{
            width: 100%;
        }
            article .box1{
                width: 40%;
                float: left;
                
            }
                h3{
                }
            article .box2{
                width: 40%;
                float: right;
                
            }
                h3{
                }

            article .box3{
                width: 40%;
                float:left;
            }
                h3{
                
            }
            article .box4{
                width: 40%;
                float: right;
                
            }
                h3{
                }
        footer{
            width: 100%;
        }